body{
    background-color:antiquewhite;
}

h1{
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-style: solid;
}

#DESIGN{
    color: maroon;
}

/* Hours minutes seconds ampm */

.time{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: center;
    position: relative; top: 350px; 
    
}

#hours{
    color:black;
    background-color: rgb(67, 141, 67);
    
    border-radius: 100px;
    padding: 30px;
}

#minutes{
    background-color: rgb(88, 163, 88);
    border-radius: 100px;
    padding: 30px;
}

#seconds{
    background-color: rgb(107, 187, 107);
    border-radius: 100px;
    padding: 30px;
}

#ampm{
    background-color: rgb(149, 201, 149);
    border-radius: 100px;
    padding: 30px;
}
